{% extends "base.html" %}

{% block title %}QD 密码重置{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ static_url('css/register.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="container">
  <form method="POST">
    {{ utils.qd_title() }}
    <p class="alert alert-info">密码重置</p>
    <div class="form-group {{ 'has-error' if password_error }}">
      <label for="password">密码</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="请输入 密码">
	  <!-- 密码重设-增加密码图标 -->
	  <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
      {% if password_error %}<p class="text-danger">{{ password_error }}</p>{% endif %}
      <p class="help-block">请输入新的密码</p>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </form>
</div>
{{ utils.submit_loading() }}
{% endblock %}
