{% extends "base.html" %}

{% block title %}QD 日志{% endblock %}

{% block header %}
{{ super() }}
<link href="{{ static_url('css/my.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{{ utils.header(current_user, title="QD日志", sup=False) }}

<section>
  <div class="container">
    <h2>
      任务执行日志
      <a class="btn btn-default" data-method="GET" href="/task/{{ task.id }}/log/del" title="清空任务日志">清空
      </a>

    </h2>
    <div>
      <button type="button" class="btn btn-default" href="javascript:void(0);" onClick="deldaylog()">保留</a>
      </button>
      <input type="text" id='day' name="tasklog.logDay"  oninput = "value=value.replace(/[^\d]/g,'')">天的日志
    </div>
	<table class="table">
      <thead>
        <tr>
          <th>时间</th>
          <th>状态</th>
          <th>日志</th>
        </tr>
      </thead>
      <tbody>
        {% for log in tasklog | sort(reverse=True, attribute="ctime") %}
        <tr>
          <td style="white-space:nowrap">{{ format_date(log.ctime) }}</td>
          <td style="white-space:nowrap">
            {% if log.success %}
            <span class="text-success">成功</span>
            {% else %}
            <span class="text-danger">失败</span>
            {% endif %}
          </td>
          <td class="autowrap showbut" id="log{{loop.index}}">
            {% if log.msg %}
            {% for _log in log.msg.split('\\r\\n') %}
              {{ _log  }}<br>
            {% endfor %}
          <button class="btn hljs-button" data-clipboard-target="#log{{ loop.index }}">复制</button>
          {% else %}
          {{ log.msg  }}
          <button class="btn hljs-button" data-clipboard-target="#log{{ loop.index }}">复制</button>
          {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<script>
function deldaylog(){
  var data = {}
  data['day'] = document.getElementById("day").value;
  if (data['day'] != ""){
    $.ajax("/task/{{ task.id }}/log/del", {
          type: 'POST',
          data: data,
        })
        .done(function(data) {
          window.location.replace("/task/{{ task.id }}/log")
        })
        .fail(function(jxhr) {
          $('#run-result').html('<h1 class="alert alert-danger text-center"运行失败</h1><div class="well"></div>').show().find('div').text(jxhr.responseText);
        })
        .always(function(jqXHR, textStatus) {
          if(textStatus==="timeout" || jqXHR.status === 504) {
            $('#run-result').html('<h1 class="alert alert-danger text-center">超时</h1><div class="well"></div>').show().find('div').text('前端回调获取响应超时, 请耐心等待或刷新页面后查看执行结果');
          }
        });
  }
  return false;
}
</script>
{% endblock %}
