{% import "utils.html" as utils %}
<form method="POST" action="/task/{{ '%s/settime' % task.id if task else 'new' }}">
  <h2 class="text-center">设置定时</h2>
  <hr>

  <div id="run-result"></div>

  <div class="checkbox">
    <label>
      <input type="checkbox" id="flg" name="flg" {% if newonetime.sw %}  checked="" {% endif %}> 定时开关
    </label>
  </div>

  <input type="time" id="timevalue" value="{{ newonetime.time }}" name='ontimevalue', step="1" />

  <div name="randzone readme">
    <label class="control-label">当天随机延时区间(0-604800)：</label>
  </div>
  <div name="randzone">
    <label>
      <input type="checkbox" id="randtimezonesw" name="randtimezonesw" {% if newonetime.randsw %} checked="" {% endif %} >开关
    </label>
    <input type="number" name="timezone1" value="{{ newonetime.tz1 }}" class="modal_input" min="1" max="604800"/>~
    <input type="number" name="timezone2" value="{{ newonetime.tz2 }}" class="modal_input" min="1" max="604800"/>秒
  </div>

  <div class="text-right">
    <button id="send" name="send" type="submit" data-loading-text="loading..." class="btn btn-primary">提交</button>
  </div>
  
  <script>
    $(function() {
      // run test
      $('#send').on('click', function() {
        var env = {};
        for (var _env=$('form').serializeArray(), i=_env.length-1; i>=0; i--) {
          env[_env[i].name] = _env[i].value;
        }
        var data = {env: JSON.stringify(env)}

        var $this = $(this);
        $this.button('loading');
        $.ajax("/task/{{task.id}}/settime", {
          type: 'POST',
          data: data,
        })
        .done(function(data) {
          $('#run-result').html(data).show()
        })
        .fail(function(jxhr) {
          $('#run-result').html('<h1 class="alert alert-danger text-center">签到失败</h1><div class="well"></div>').show().find('div').text(jxhr.responseText);
        })
        .always(function() {
          $this.button('reset');
        });

        return false;
      });
    })
  </script>

  {{ utils.task_new_scripts() }}
  {{ utils.submit_loading() }}
</form>
