<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align:center" title="任务id">任务id</th>
      <th style="text-align:center" title="任务名">任务名</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td style="text-align:center">{{ task.id }}</td>
      <td style="text-align:center">
        {{ task.sitename }}
        {% if task.note %}
        -
        <code>
          {% if task.note | length > 15 %}
        <span data-toggle="popover" data-content="{{ task.note }}">{{ task.note | truncate(10, True) }}</span>
        {% else %} {{ task.note }} {% endif %}
          {% endif %}
        </code>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>