{% extends "base.html" %}

{% block title %}签到日志{% endblock %}

{% block header %}
{{ super() }}
<link href="{{ static_url('my.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{{ utils.header(current_user) }}

<section>
  <div class="container">
    <h2>
      任务执行日志
      <span type="span" class="btn btn-default">
        <a data-method="GET" href="/task/{{ task.id }}/log/del" title="清空任务日志">删除
        </a>
      </span>
    </h2>
	<table class="table">
      <thead>
        <tr>
          <th>时间</th>
          <th>状态</th>
          <th>日志</th>
        </tr>
      </thead>
      <tbody>
        {% for log in tasklog | sort(reverse=True, attribute="ctime") %}
        <tr>
          <td style="white-space:nowrap">{{ format_date(log.ctime) }}</td>
          <td style="white-space:nowrap">
            {% if log.success %}
            <span class="text-success">成功</span>
            {% else %}
            <span class="text-danger">失败</span>
            {% endif %}
          </td>
          <td class="autowrap showbut" id="log{{loop.index}}">{{ log.msg }}<button class="btn hljs-button" data-clipboard-target="#log{{ loop.index }}">复制</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
