{% extends "base.html" %}

{% block title %}我的签到{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ static_url('my.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{{ utils.header(current_user) }}

<section class="tpl">
  <div class="container">
    <h2>
      模板仓库
    </h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="text-align:center" title="模板操作区">操作</th>
          <th style="text-align:center" title="需签到的网站">网站</th>
          <th style="text-align:center" title="模板作者">作者</th>
          <th style="text-align:center" title="链接">链接</th>
          <th style="text-align:center" title="修改日期">修改日期</th>
          <th style="text-align:center" title="备注和修改日志">备注/日志</th>
        </tr>
      </thead>
      <tbody>
        {% for tpl in tpls | sort(attribute='date', reverse=True)%}
        <tr>
          <td style="text-align:center">
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                  <span type="span" class="btn btn-default">
                    <a href="/har/edit?tplurl={{ tpl.url | urlencode }}&name={{ tpl.filename | urlencode }}" target="_blank" id="{{ tpl.name }}" title="订阅此模板">订阅</a>
                  </span>
            </div>
          </td>
          <td style="text-align:center">{{ tpl.name }}</td>
          <td style="text-align:center">{{ tpl.author | safe }}</td>
          <td style="text-align:center">
            <a href="{{ tpl.url }}">{{ tpl.filename }}</a>
          </td>
          <td style="text-align:center">{{ tpl.date | safe }}</td>
          <td style="text-align:center">{{ tpl.comments | safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<script>
  $(function() {
    $('[data-toggle=popover]').popover({
      trigger: 'hover'
    });
  })
</script>

{{ utils.modal_load() }}
{{ utils.apost() }}
{% endblock %}