{% import "utils.html" as utils %}
<form method="POST" action="/user/{{ userid }}/manage">
  <script src="/static/md5.js"></script>
  <div id="run-result"></div>
  <h2 class="text-center">用户列表</h2>
  <hr>
  
  {% if adminflg %}      
  <div id="userlist">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>用户邮箱</th>
          <th>状态</th>
          <th>创建时间</th>
          <th>最后登陆时间</th>
          <th>功能</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users | sort(reverse=True, attribute="ctime") %}
        <tr>
          <td>
            <label>
              <input type="checkbox"  name="{{user.id}}" class="userlist-chkbox"> 
            </label>
          </td>
          <td>{{ user.email }}{% if user.role == 'admin' %}[管理员]{% endif %}</td>
          <td>
              {{ user.status }}<br>
              {% if user.email_verified %} 已验证邮箱
              {% else %} 未验证邮箱
              {% endif %}
          </td>
          <td>{{ format_date(user.ctime,-8*60,True,False,True)}}</td>
          <td>{{ format_date(user.atime,-8*60,True,False,True)}}</td>
          <td>
            <span type="span" class="btn btn-default">
              <a data-load-method="GET" class="modal_load" href="/user/{{user.id}}/setnewpwd" title="修改密码">改密
              </a>
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <label class="control-label" for="note" ><font color='red'>必须输入账号密码验证！！！</font></label>
    <div>
    <label class="control-label" for="note">管理员邮箱</label>
    </div>
    <input type="text" class="form-control" name="adminmail" value="" id="adminmail" placeholder="必须输入账号密码验证">
    <label class="control-label" for="note">管理员密码</label>
    <input type='password' class="form-control" name="adminpwd" value="" id="adminpwd" placeholder="必须输入账号密码验证">
  </div>

  <div class="text-right">
    <button id="ban" name="banbtn" type="submit" data-loading-text="loading..." class="btn btn-primary">禁用</button>
    <button id="activate" name="activatebtn" type="submit" data-loading-text="loading..." class="btn btn-primary">启用</button>
    <button id="del" name="delbtn" type="submit" data-loading-text="loading..." class="btn btn-primary">删除</button>
  </div>

  {% else %}
  <div style="text-align:center"> 非管理员,不可查看 </div>
  {% endif %}

  <script>
    $(function() {
      $('#ban,#activate,#del').on('click', function() {
        var env = {};
        chkflg = false;
        tmp = document.querySelectorAll('.userlist-chkbox').forEach(function(el){
            if (el.checked) {
              env[el.name] = 'on'
              chkflg = true;
            }
          });
        if (!chkflg){
          $('#run-result').html("<h1 class=\"alert alert-danger text-center\">错误</h1><div><pre>请至少选择一个成员</pre></div>").show();
          return false;
        }
        env["adminpwd"] = md5($('#adminpwd')[0].value);
        env["adminmail"] = $('#adminmail')[0].value;
        env[this.name] = ''
        
        var $this = $(this);
        $this.button('loading');
        $.ajax("/user/{{ userid }}/manage", {
          type: 'POST',
          data: env,
        })
        .done(function(response, status, xhr) {
          if (response.indexOf('alert alert-success text-center') > -1){
            refresh_modal_load("/user/{{ userid }}/manage")
          }else{
            $('#run-result').html(response).show()
          }
        })
        .always(function() {
          $this.button('reset');
        });
  
        return false;
      });
    })
  </script>

  {{ utils.submit_loading() }}
</form>

