{% import "utils.html" as utils %}
<form method="POST" action="/user/{{ userid }}/pushsw">
  <h2 class="text-center">推送设置</h2>
  <hr>
  <div id="run-result"></div>

  <label>任务结果推送渠道：</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="barksw" name="barksw" {% if flg.barksw %}  checked="" {% endif %}> Bark
    </label>
    <label>
      <input type="checkbox" id="schansw" name="schansw" {% if flg.schansw %}  checked="" {% endif %}> S酱
    </label>
    <label>
      <input type="checkbox" id="wxpushersw" name="wxpushersw" {% if flg.wxpushersw %}  checked="" {% endif %}> WXPusher
    </label>
    <label>
      <input type="checkbox" id="mailpushersw" name="mailpushersw" {% if flg.mailpushersw %}  checked="" {% endif %}> 邮箱
    </label>
    <label>
      <input type="checkbox" id="qywxpushersw" name="qywxpushersw" {% if flg.qywxpushersw %}  checked="" {% endif %}> 企业微信Pusher
    </label>
    <label>
      <input type="checkbox" id="tgpushersw" name="tgpushersw" {% if flg.tgpushersw %}  checked="" {% endif %}> Tg Bot
    </label>
    <label>
      <input type="checkbox" id="dingdingpushersw" name="dingdingpushersw" {% if flg.dingdingpushersw %}  checked="" {% endif %}> DingDing Bot
    </label>
    <label>
      <input type="checkbox" id="qywxwebhooksw" name="qywxwebhooksw" {% if flg.qywxwebhooksw %}  checked="" {% endif %}> 企业微信WebHook
    </label>
    <label>
      <input type="checkbox" id="cuspushersw" name="cuspushersw" {% if flg.cuspushersw %}  checked="" {% endif %}> 自定义推送
    </label>
  </div>

  <label>任务结果通知选择</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="handpush_succ" name="handpush_succ" {% if flg.handpush_succ %}  checked="" {% endif %}> 手动执行成功通知
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="handpush_fail" name="handpush_fail" {% if flg.handpush_fail %}  checked="" {% endif %}> 手动执行失败通知
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="autopush_succ" name="autopush_succ" {% if flg.autopush_succ %}  checked="" {% endif %}> 自动执行成功通知
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="autopush_fail" name="autopush_fail" {% if flg.autopush_fail %}  checked="" {% endif %}> 自动执行失败通知
    </label>
  </div>

  <div class="form-group">
    <label class="control-label" for="note">自动错误几次后提醒: </label>
    <select id="ErrTolerateCnt" NAME="ErrTolerateCnt" ></select>
  </div>

  <label>任务结果批量推送</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="push_batch_sw" name="push_batch_sw" {% if push_batch.sw %}  checked="" {% endif %}> 开启定期批量推送
    </label>
  </div>
  <div style="display: block;">
    <span>批量推送时间设置:</span>
    <input type="time" id="push_batch_val" value="{{ push_batch.time }}" name='push_batch_value' , step="1" />
  </div>
  <div style="display: block;">
    <span>批量推送时间间隔:</span>
    <input type="number" name="push_batch_delta" list="push_batch_delta" value="{{ push_batch.delta }}" min="60" placeholder="不填默认每天, 单位/秒">
    <datalist id="push_batch_delta" style="display:none;">
      <option selected="selected" value="">请选择</option>
      <option value="1800">每30分钟</option>
      <option value="3600">每1小时</option>
      <option value="7200">每2小时</option>
      <option value="43200">每12小时</option>
      <option value="86400">每24小时</option>
      <option value="604800">每周</option>
      <option value="2628000">每月</option>
      <option value="7884000">每季</option>
      <option value="31536000">每年</option>
      <option value="" disabled>最短1分钟!</option>
    </datalist>
  </div>

  <div id="taskpushsw">
    <table class="table table-hover">
      <thead>
        <tr>
          <th title="定时任务目标网站名称">任务名称</th>
          <th style="text-align:center" title="定时任务成功/失败推送开关">任务推送开关</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks | sort(reverse=True, attribute="ctime") %}
        <tr>
          <td>
            {% if task.disabled %}<span title="任务处于禁用状态,使用 (立即执行) 成功运行一次,即可解除." style="color:#ff7600;border-left:5px solid #ff7600;padding-left:5px;">[禁用]</span>{% endif %}
            {{ utils.tplname(task.tpl) if task.tpl else "[已删除]" }}

            {% if task.note %}
            -
                <code>
                  {% if task.note | length > 15 %}
                <span data-toggle="popover" data-content="{{ task.note }}">{{ task.note | truncate(10, True) }}</span>
                {% else %} {{ task.note }} {% endif %}
                  {% endif %}
                </code>
          </td>
          <td>
            <label>
              <input type="checkbox" name="{{ task.id }} pushen" {% if task.pushsw.pushen %}  checked="" {% endif %} value="1">
            </label>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



  <div class="text-right">
    <button id="sendpushsw" name="sendpushsw" type="submit" data-loading-text="loading..." class="btn btn-primary">提交</button>
  </div>

  <script>
    $(function() {
      // run test
      $('#sendpushsw').on('click', function() {
        var env = {};
        for (var _env=$('form').serializeArray(), i=_env.length-1; i>=0; i--) {
          env[_env[i].name] = _env[i].value;
        }
        var data = {
          env: JSON.stringify(env)
          }

        var $this = $(this);
        $this.button('loading');
        $.ajax("/user/{{ userid }}/pushsw", {
          type: 'POST',
          data: data,
        })
        .done(function(data) {
          $('#run-result').html(data).show()
        })
        .fail(function(jxhr) {
          $('#run-result').html('<h1 class="alert alert-danger text-center">运行失败</h1><div class="well"></div>').show().find('div').text(jxhr.responseText);
        })
        .always(function(jxhr, textStatus) {
          if (textStatus == 'timeout' || jxhr.status == 504) {
            $('#run-result').html('<h1 class="alert alert-danger text-center">超时</h1><div class="well"></div>').show().find('div').text('前端回调获取响应超时, 请耐心等待或刷新页面后查看执行结果');
          }
          $this.button('reset');
        });

        return false;
      });
    })
  </script>

  <script LANGUAGE="JavaScript">
      var select = document.getElementById("ErrTolerateCnt");
      for(var i=0;i<=8;i++){
      var opt = document.createElement("option");
      opt.value=i;
      opt.innerHTML=i;
      select.appendChild(opt);
      }
      document.getElementById("ErrTolerateCnt")[{{ logtime.ErrTolerateCnt }}].selected=true;
  </script>

<script>
  $(function() {
    $('[data-toggle=popover]').popover({
      trigger: 'hover'
    });
  })
</script>

  {{ utils.submit_loading() }}
</form>
