*.idea
*.pyc
database.db
config.json
venv/
env27/
.python-version
.vscode
.history/
database - 副本.db
*.un~
qiandao.rar
压缩.bat
.ssh/
database*.db
local_config.py
*.bak
*.log
*.dccache
__pycache__/
node_modules/
bower_components/
.virtual_documents/
.gitkeep
.lh/*