[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple/"
verify_ssl = true
name = "tencent"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
install_search_all_sources = true

[packages]
tornado = "*"
charset-normalizer = "*"
requests = {version = "*", index = "pypi"}
pbkdf2 = "*"
pycryptodome = {version = "*", index = "pypi"}
croniter = {version = "*", index = "pypi"}
Jinja2 = "*"
redis = "*"
incremental = "*"
u-msgpack-python = {version = "*", index = "pypi"}
pysocks = "*"
faker = {version = "*", index = "pypi"}
colorama = {version = "*", markers="sys_platform == 'win32'"}
aiofiles = "*"
passlib = "*"
aiomysql = "*"
aiosqlite = "*"
cryptography = "*"
aiohttp = "*"
sqlalchemy = {version = "<2.0", extras = ["asyncio"]}
tzdata = "*"
greenlet = "*"

[dev-packages]
types-croniter = "*"
types-requests = "*"
types-python-dateutil = "*"
sqlalchemy2-stubs = "*"
types-aiofiles = "*"
pycurl = "*"
ddddocr = "*"

[requires]
python_version = "3.11"
