[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
chardet = "*"
requests = "*"
pbkdf2 = "*"
pycryptodome = "*"
pytz = "*"
croniter = "*"
Jinja2 = "*"
redis = "*"
incremental = "*"
u-msgpack-python = "*"
pysocks = "*"
faker = "*"
colorama = {version = "*", markers="sys_platform == 'win32'"}
aiofiles = "*"
sqlalchemy = {version = "*", extras = ["asyncio"]}
passlib = "*"
aiomysql = "*"
aiosqlite = "*"

[dev-packages]
opencv-python-headless = "*"
#ddddocr = "*"
pycurl = {version = "*", markers="sys_platform != 'win32'"}

[requires]
python_version = "3.10"
