{
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "curly": 1,
    "dot-location": [2, "property"],
    "eqeqeq": 1,
    "linebreak-style": [2, "unix"],
    "no-else-return": 0,
    "no-eval": 2,
    "no-octal": 2,
    "no-with": 2,
    "radix": 2,
    "brace-style": 0,
    "camelcase": 0,
    "indent": 0,
    "no-array-constructor": 2,
    "quotes": [2, "single", {
      "allowTemplateLiterals": true,
      "avoidEscape": true
    }],
    "spaced-comment": 0,
    "space-before-blocks": 1,
    "keyword-spacing": 1,
    "arrow-spacing": 2,
    "no-var": 0,
    "no-unused-vars": 1
  }
}
