Rob Garrison <wowmotty@gmail.com> Mottie <wowmotty@gmail.com>
Rob Garrison <wowmotty@gmail.com> Rob G <wowmotty@gmail.com>
Justin F. Hallett <thesin@gmail.com> Justin F. Hallett <thesin@users.sf.net>
Erik-B. Ernst <git@black-milk.de> Erik-B. Ernst <github@black-milk.de>
Herst <Herst@users.noreply.github.com> Herst <github.x.herst@spamgourmet.com>
